In [97]:
import nltk
import string
from tqdm import tqdm
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

import tensorflow as tf
from keras.utils import np_utils
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense, Dropout, Activation
from nltk.corpus import stopwords
#from wordcloud import WordCloud ,STOPWORDS

In [98]:
import sys
print(sys.executable)

C:\Users\Kazungu\Anaconda3\python.exe

In [99]:
data = pd.read_csv("train.csv")

In [100]:
data.shape

(23268, 3)

In [101]:
data.head()

        id                                            content category
0   SW4670   Bodi ya Utalii Tanzania (TTB) imesema, itafan...   uchumi
1  SW30826   PENDO FUNDISHA-MBEYA RAIS Dk. John Magufuri, ...  kitaifa
2  SW29725  Mwandishi Wetu -Singida BENKI ya NMB imetoa ms...   uchumi
3  SW20901   TIMU ya taifa ya Tanzania, Serengeti Boys jan...  michezo
4  SW12560   Na AGATHA CHARLES – DAR ES SALAAM ALIYEKUWA K...  kitaifa

In [102]:
data["category"].unique()

array(['uchumi', 'kitaifa', 'michezo', 'kimataifa', 'burudani', 'afya'],
      dtype=object)

In [103]:
class_mapping = {
    
    'uchumi':0, 'kitaifa':1, 'michezo':2, 'kimataifa':3, 'burudani':4, 'afya':5
}
data["category_encoded"] = data.category.map(class_mapping)

In [104]:
data.head()

,id,content,category,category_encoded
0,SW4670,"Bodi ya Utalii Tanzania (TTB) imesema, itafan...",uchumi,0
1,SW30826,"PENDO FUNDISHA-MBEYA RAIS Dk. John Magufuri, ...",kitaifa,1
2,SW29725,Mwandishi Wetu -Singida BENKI ya NMB imetoa ms...,uchumi,0
3,SW20901,"TIMU ya taifa ya Tanzania, Serengeti Boys jan...",michezo,2
4,SW12560,Na AGATHA CHARLES – DAR ES SALAAM ALIYEKUWA K...,kitaifa,1

In [105]:
def create_wordcloud(words):
    wordcloud = WordCloud(width=800, height=500, random_state=21, max_font_size=110).generate(words)
    plt.figure(figsize=(10, 7))
    plt.imshow(wordcloud, interpolation="bilinear")
    plt.axis('off')
    plt.show()

In [11]:
# import nltk
# import pickle
# # from wordcloud import WordCloud
# from nltk.corpus import stopwords
# from wordcloud import WordCloud ,STOPWORDS
# subset=data[data.category=="uchumi"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [12]:
# subset=data[data.category=="kitaifa"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [13]:
# subset=data[data.category=="michezo"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [14]:
# subset=data[data.category=="afya"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [15]:
# subset=data[data.category=="burudani"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [16]:
# subset=data[data.category=="kimataifa"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [17]:
# subset=data[data.category=="uchumi"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [106]:
def preprocessing(text):
    clean_txt = []
    for i in tqdm(text):
        txt = " ".join("".join([" " if ch in string.punctuation else ch for ch in i]).split())
        tokens = [word for word in txt.split()]
        tokens = [word.lower() for word in tokens]
        tokens = [word for word in tokens if len(word)>=3]
        pre_proc_text = " ".join([token for token in tokens])
        clean_txt.append(pre_proc_text)
    
    return clean_txt

In [107]:
X = preprocessing(data["content"])
y = data["category_encoded"]

100%|██████████████████████████████████████████████████████████████████████████| 23268/23268 [00:14<00:00, 1620.78it/s]

In [108]:
# y to categorical
y = to_categorical(y, num_classes=len(set(y)))

In [109]:
temp = pd.DataFrame({"content":X, "category":data.category})

In [110]:
temp.head()

                                             content category
0  bodi utalii tanzania ttb imesema itafanya misa...   uchumi
1  pendo fundisha mbeya rais john magufuri ametan...  kitaifa
2  mwandishi wetu singida benki nmb imetoa msaada...   uchumi
3  timu taifa tanzania serengeti boys jana ilijiw...  michezo
4  agatha charles dar salaam aliyekuwa katibu bun...  kitaifa

In [23]:
# subset=temp[temp.category=="kitaifa"]
# text=subset.content.values
# words =" ".join(text)
# create_wordcloud(words)

In [111]:
# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [112]:
X_train.shape, X_train.shape, y_test.shape, y_test.shape

((18614,), (18614,), (4654, 6), (4654, 6))

In [113]:
y_train[:1]

array([[0., 0., 1., 0., 0., 0.]], dtype=float32)

## Feature extraction

In [114]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(min_df=2, ngram_range=(1, 2), max_features=10000, strip_accents='unicode', norm='l2')
# Fit and transform trainining data
X_train_features = np.array(vectorizer.fit_transform(X_train).todense())
# Transform testing data
X_test_features = np.array(vectorizer.transform(X_test).todense())

In [115]:
import pickle
pickle_out = open("vectorizer.pickle", "wb")
pickle.dump(vectorizer, pickle_out)
pickle_out.close()

In [116]:
np.random.seed(2018) # for reproducibility
nb_classes = 6
batch_size = 64
nb_epochs = 20

In [117]:
X_train_features[:1]

array([[0., 0., 0., ..., 0., 0., 0.]])

In [118]:
# Build Model Architecture
model = Sequential()
model.add(Dense(256, input_shape = (10000,)))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(512))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(128))
model.add(Activation('relu'))
model.add(Dropout(0.5))
model.add(Dense(nb_classes))
model.add(Activation('softmax'))

In [119]:
# compile the model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [120]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 256)               2560256

 activation_4 (Activation)   (None, 256)               0

 dropout_3 (Dropout)         (None, 256)               0

 dense_5 (Dense)             (None, 512)               131584

 activation_5 (Activation)   (None, 512)               0

 dropout_4 (Dropout)         (None, 512)               0

 dense_6 (Dense)             (None, 128)               65664

 activation_6 (Activation)   (None, 128)               0

 dropout_5 (Dropout)         (None, 128)               0

 dense_7 (Dense)             (None, 6)                 774

 activation_7 (Activation)   (None, 6)                 0

=================================================================
Total params: 2,758,278
Trainable params: 2,758,278
Non-trainable params: 0
_________________________________________________________________

In [142]:
model.fit(X_train_features, y_train, batch_size=batch_size, epochs=nb_epochs, verbose=1)

Epoch 1/20
291/291 [==============================] - 11s 39ms/step - loss: 0.0346 - accuracy: 0.9857
Epoch 2/20
291/291 [==============================] - 11s 39ms/step - loss: 0.0308 - accuracy: 0.9868
Epoch 3/20
291/291 [==============================] - 10s 36ms/step - loss: 0.0295 - accuracy: 0.9868
Epoch 4/20
291/291 [==============================] - 11s 37ms/step - loss: 0.0306 - accuracy: 0.9871
Epoch 5/20
291/291 [==============================] - 11s 39ms/step - loss: 0.0300 - accuracy: 0.9872
Epoch 6/20
291/291 [==============================] - 15s 53ms/step - loss: 0.0274 - accuracy: 0.9871
Epoch 7/20
291/291 [==============================] - 11s 36ms/step - loss: 0.0338 - accuracy: 0.9860
Epoch 8/20
291/291 [==============================] - 15s 51ms/step - loss: 0.0292 - accuracy: 0.9860
Epoch 9/20
291/291 [==============================] - 13s 45ms/step - loss: 0.0291 - accuracy: 0.9869
Epoch 10/20
291/291 [==============================] - 15s 51ms/step - loss: 0.0287 - accuracy: 0.9870
Epoch 11/20
291/291 [==============================] - 17s 59ms/step - loss: 0.0267 - accuracy: 0.9873
Epoch 12/20
291/291 [==============================] - 14s 48ms/step - loss: 0.0260 - accuracy: 0.9871
Epoch 13/20
291/291 [==============================] - 14s 49ms/step - loss: 0.0260 - accuracy: 0.9873
Epoch 14/20
291/291 [==============================] - 15s 51ms/step - loss: 0.0249 - accuracy: 0.9875
Epoch 15/20
291/291 [==============================] - 17s 59ms/step - loss: 0.0259 - accuracy: 0.9873
Epoch 16/20
291/291 [==============================] - 14s 49ms/step - loss: 0.0252 - accuracy: 0.9883
Epoch 17/20
291/291 [==============================] - 14s 49ms/step - loss: 0.0243 - accuracy: 0.9874
Epoch 18/20
291/291 [==============================] - 16s 54ms/step - loss: 0.0261 - accuracy: 0.9872
Epoch 19/20
291/291 [==============================] - 16s 56ms/step - loss: 0.0237 - accuracy: 0.9874
Epoch 20/20
291/291 [==============================] - 14s 48ms/step - loss: 0.0269 - accuracy: 0.9865

In [143]:
X_train_features.shape

(18614, 10000)

In [144]:
test_pred = model.predict(X_test_features)

In [145]:
test_pred = np.argmax(test_pred, axis=-1)

In [146]:
test_pred

array([1, 0, 1, ..., 1, 1, 4], dtype=int64)

In [147]:
from sklearn.metrics import classification_report

In [148]:
print(classification_report(test_pred, np.argmax(y_test, axis=-1)))

              precision    recall  f1-score   support

           0       0.75      0.77      0.76       387
           1       0.88      0.88      0.88      2048
           2       0.94      0.95      0.95      1221
           3       0.84      0.82      0.83       385
           4       0.87      0.85      0.86       452
           5       0.43      0.45      0.44       161

    accuracy                           0.86      4654
   macro avg       0.79      0.79      0.79      4654
weighted avg       0.87      0.86      0.87      4654

In [149]:
np.argmax(y_test, axis=-1)

array([1, 0, 2, ..., 1, 1, 4], dtype=int64)

In [150]:
test_pred

array([1, 0, 1, ..., 1, 1, 4], dtype=int64)

model.save("swahili.h5")

In [153]:
import pickle
pickle_out = open("model.pickle","wb")
pickle.dump(model,open("model.pickle","wb"))
pickle_out.close()

INFO:tensorflow:Assets written to: ram://3b519bf3-ca15-4bc4-ab08-740f07e9f322/assets

NotFoundError:

In [131]:
from keras.models import load_model

In [132]:
hypothesis = load_model("swahili.h5")

In [133]:
hypothesis.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               2560256

 activation (Activation)     (None, 256)               0

 dropout (Dropout)           (None, 256)               0

 dense_1 (Dense)             (None, 512)               131584

 activation_1 (Activation)   (None, 512)               0

 dropout_1 (Dropout)         (None, 512)               0

 dense_2 (Dense)             (None, 128)               65664

 activation_2 (Activation)   (None, 128)               0

 dropout_2 (Dropout)         (None, 128)               0

 dense_3 (Dense)             (None, 6)                 774

 activation_3 (Activation)   (None, 6)                 0

=================================================================
Total params: 2,758,278
Trainable params: 2,758,278
Non-trainable params: 0
_________________________________________________________________

In [134]:
# test = " ni 26 mwaka huu.Misafara hiyo itatembelea miji ya Beijing Juni 19, Shanghai Juni 21, Nanjig Juni 24 na Changsha Juni 26.Mwenyekiti wa bodi TTB, Jaji Mstaafu Thomas Mihayo ameyasema hayo kwenye mkutano na waandishi wa habari jijini Dar es Salaam.â€œTunafanya jitihada kuhakikisha tunavuna watalii wengi zaidi kutoka China hasa tukizingatia umuhimu wa soko la sekta ya utalii nchini,â€ amesema Jaji Mihayo.Novemba 2018 TTB ilifanya ziara kwenye miji ya Beijing, Shanghai, Chengdu, Guangzhou na Hong Kong kutangaza vivutio vya utalii sanjari kuzitangaza safari za ndege za Air Tanzania.Ziara hiyo inaelezwa kuzaa matunda ikiwa ni pamoja na watalii zaidi ya 300 kuja nchini Mei mwaka huu kutembelea vivutio vya utalii."
test=' Akizungumza mara baada ya kutiwa saini kwa makubaliano hayo jana jioni Waziri wa Nchi Ofisi ya Waziri Mkuu Tawala za Mikoa na Serikali za Mitaa, Hawa Ghasia, alisema uwekezaji huo unatarajiwa kuleta manufaa kwa shirika hilo kwani uwekezaji wake pia utasaidia kutoa elimu kwa vitendo juu ya ufugaji kwa kada mbalimbali.Alisema miaka ya nyuma shirika hilo lilikuwa likisifika kwa ufugaji wa kuku kabla ya kusitisha shughuli hizo kutokana na uwepo wa sababu mbalimbali na kusababisha shirika hilo kukosa mapato yaliyokuwa yakitokana na uuzaji wa kuku na mayai.Mkurugenzi wa Shirika la Elimu Kibaha, Cyprian Mpemba alisema uwekezaji huo wa miaka 66, mbali na kuingizia shirika hilo kiasi cha Sh milioni 100 kila mwaka, pia utawawezesha kuvuna kiasi kingine kama hicho kama ada ya uingiaji katika eneo hilo.Alisema itachukua muda wa miaka nane hadi uwekezaji rasmi ukamilike katika eneo hilo ukihusisha idara mbalimbali ikiwemo ujenzi wa viwanda vya usindikaji wa nyama na utengenezaji wa soseji, huku kila baada ya miaka miwili wakikamilisha ujenzi wa eneo yakiwemo maeneo ya kufugia kuku hao.Mpemba alisema matarajio baada ya mika miwili ijayo mradi huo utaweza kuzalisha kuku milioni 2.7 huku wakitoa ajira kwa watu 120 na ukikamilika utazalisha kuku milioni 165 pamoja na kutoa ajira kwa watu 700 hatua aliyosema itasaidia kuleta mapinduzi katika ufugaji wa kuku hapa nchini sambamba na kutoa elimu kwa wanafunzi kutoka vyuo mbalimbali.Naye Mtendaji Mkuu wa kampuni hiyo Hesham Ewies alisema malengo yao ni kuibadilisha Kibaha kwa muda mfupi kwa kulifanya kuwa eneo linalosifika kutokana na shughuli za ufugaji wa kuku huku zaidi wakilenga kuondoa upungufu wa mahitaji ya bidhaa ya kuku yaliyopo kwa sasa nchini.Alisema watarajio yao baada ya miaka michache ijayo, Tanzania itaweza kusifika kwa usafirishaji wa bidhaa zitokanazo na kuku kwenda nje ya nchi na hivyo kuliongeza Taifa mapato.'

In [135]:
def test_pipeline(txt):
    #print(txt)
    text = preprocessing(txt)
    text = " ".join(text)
    #print(text)
    features = np.array(vectorizer.transform([text]).todense())
    return features

In [136]:
tst = test_pipeline(test)

100%|██████████████████████████████████████████████████████████████████████████| 1889/1889 [00:00<00:00, 189075.99it/s]

In [137]:
tst

array([[0., 0., 0., ..., 0., 0., 0.]])

In [138]:
idx2class = dict([(value, key) for key, value in class_mapping.items()])
np.argmax(hypothesis.predict(tst), axis=1)

array([0], dtype=int64)

In [139]:
np.argmax(hypothesis.predict(tst), axis=1)

array([0], dtype=int64)

In [53]:
dct[1]

NameError: name 'dct' is not defined